<form #formrole="ngForm" (ngSubmit)="addRole()">
    <div class="form-group">
        <div class="form-group col-md-4">
            <label for="source">منبع</label>
            <select id="namerole" [(ngModel)]="model.namerole" name="namerole" class="form-control">
              <option selected>Admin</option>
              <option>programer</option>
              <option>user</option>
            </select>
          </div>
    </div>
        <div class="form-group col-md-4">
            <label for="source">منبع</label>
            <select id="source" [(ngModel)]="model.source" name="source" class="form-control" *ngFor="let page of pages">
              <option selected>List</option>
              <option>pageindex</option>
            </select>
          </div>
      <div class="form-group">
        <label for="exampleInputEmail1">نمایش</label>
        <input type="checkbox" [(ngModel)]="model.isShow" name="isShow"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">     
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  