<div class="cart">
    <div class="card-body cx">

 
    <form (ngSubmit)="register()" >
        <h2 class="text-center text-primary">
            ثبت نام
        </h2>
        <hr>
        <div class="form-group mb-2">
            <input type="text " class="form-control" name="username" placeholder="نام کاربری" >
            <input type="password " class="form-control" name="password" placeholder="کلمه عبور " >
            <input type="password " class="form-control" name="repeatpassword" placeholder="تکرار کلمه عبور" >
        </div>
        <div class="form-group text-center">
            <button class="btn btn-success " type="submit">ثبت نام</button>
            <button class="btn btn-default ml-10px" (click)="cancel()"  type="button">لغو</button>
        </div>
    </form>
</div>
</div>